
/* Colors */

/* #2A6EA6; link colour */
/* HSV: 207, 75, 65 */
/* Decimal RGB: 42, 110, 166 */

/* #FFA933: complement to #2A6EA6 */

/* Triad: #2A6EA6, #FFCD33, #FF7033 */

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 21px;
    line-height: 1.5;
    background: #ffffff;
    width: 60%;
    max-width: 960px;
    margin: 0px 20% 40px 20%;
}

a {
    color: #2A6EA6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #000;
    clear: both;
    padding-top: 30px;
    margin: 0;
}

.social { /* used for GitHub, Twitter etc icons */
    margin: 5px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 4px;
}

.animation:hover{
    transform: rotate(-3deg);  
}

